/* style.css */
/* =================================================== */
/* Global Styles */
/* =================================================== */

  /*body {
    background: var(--light-color);
    color: var(--dark-color);
    line-height: 1;
  } */

  
  /* heading size for all pages */

  .heading-size{
    font-size: 2rem ;
  }
  