{% extends "base.html" %}

{% block content %}
<div class="container-login">
    <h2 class="heading">Login to your account</h2>
    <p style="color: black; text-align: center;">It's nice to see you again. Ready to practice quiz?</p>
    <form method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-info">Login</button>
    </form>
</div>
{% endblock %}
