{% extends "base.html" %}

{% block content %}
<!-- This Page shows : Admin can see All the users in by click on "All Users" button 
 Each users details can be seen by admin on route 
 Route : @ user_quizzes -->

<!-- Heading : class heading  -->
<h1 class="heading text-center ">All Users</h1>

<div class="container mt-5">
    <!-- Search form -->
    <form method="GET" action="{{ url_for('view_all_users') }}" class="mb-4">
        <div class="input-group">
            <input type="text" name="search" class="form-control" style="width: 200px;" placeholder="Search by full name or username" value="{{ request.args.get('search', '') }}">
            <button class="btn btn-info" type="submit" style="margin-left: 10px;">Search</button>
        </div>
    </form>
    

    <!-- Users Table -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username (Email)</th>
                <th>Full Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.full_name }}</td>
                <td><a href="{{ url_for('user_quizzes', user_id=user.id) }}" class="btn btn-info">View Quizzes</a></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" class="text-center">No users found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
